<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public/

    # Nonaktifkan MultiViews dan Indexes
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    
    # Redirect permintaan non-public ke domain utama
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ https://persmalibratum.com/public/$1 [L,QSA]

    # Handle Laravel routing
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
